@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>Unleash the Power of Data</h1>
    <p class="lead">Socrata Open Data API (SODA) & SODA.NET</p>
    <p><a href="http://socrata.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<h2>@ViewBag.Message</h2>