@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    11480 53rd Ave<br />
    Allendale, MI 49401<br />
    <abbr title="Phone">P:</abbr>
    1.877.MYBIZSTREAM
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@bizstream.com">support@bizstream.com</a><br />
</address>