@model WebApplication.ViewModels.ContactViewModel

<div class="row">
    <div class="col-md-12">
        <h1>@Model.Content.Headline</h1>

        @Html.Raw(Model.Content.Bodycontent)

    </div>
</div>